<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
    <header>
        <svg id="topleft" width="100%" height="100%" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <path d="M24,0C21.336,0.008 18.686,0.439 16.167,1.31C12.829,2.463 9.764,4.364 7.238,6.83C4.609,9.397 2.58,12.562 1.358,16.028C0.473,18.539 0.026,21.184 0,23.845L0,24L0,0L24,0Z"/>
        </svg>
        <svg id="topright" width="100%" height="100%" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <path d="M24,0C21.336,0.008 18.686,0.439 16.167,1.31C12.829,2.463 9.764,4.364 7.238,6.83C4.609,9.397 2.58,12.562 1.358,16.028C0.473,18.539 0.026,21.184 0,23.845L0,24L0,0L24,0Z"/>
        </svg><h1>Edit File</h1>
    </header>
    
    <form method="POST" action="/edit">
    {{#if selectedFile}}
        <label>
            Title
            <input name="title" value="{{title}}">
        </label>
        <label>
            Summary
            <textarea name="summary">{{summary}}</textarea>
        </label>
        <label>
            Markdown-Content
            <textarea name="content">{{content}}</textarea>
        </label>

        <label>
            Subcontent
            <ul id="contents">
                {{#each _contents}}<li>
                document: <select name="contents[]">
                     <option value="{{this}}" hidden="hidden" selected="selected">{{this}}</option>
            {{#each ../files}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}

        </select><br/>
            <button onclick="removeContentRow(event)">Remove Entry</button></li>{{/each}}</ul>
            <button onclick="addContentRow(event)">Add Link</button>
            <script>
                function removeContentRow(event) {
                    row = event.srcElement.parentNode;
                    row.parentNode.removeChild(row);
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
                function addContentRow(event) {
                    const c = document.createElement('li');
                    c.innerHTML = `
                        document: <select name="contents[]">
                        {{#each files}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select><br/>
                    `;
                    document.getElementById('contents').appendChild(c);
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
            </script>
        </label>

        <label>
            links
            <ul id="links">
                {{#each _links}}<li>
                Title: <input name="titles[]" value="{{this.title}}"/><br/>
                link: <select name="hrefs[]">
                     <option value="{{this.href}}" hidden="hidden" selected="selected">{{this.href}}</option>
            {{#each ../files}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}

        </select><br/>
            <button onclick="removeRow(event)">Remove Entry</button></li>{{/each}}</ul>
            <button onclick="addRow(event)">Add Link</button>
            <script>
                function removeRow(event) {
                    row = event.srcElement.parentNode;
                    row.parentNode.removeChild(row);
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
                function addRow(event) {
                    const c = document.createElement('li');
                    c.innerHTML = `
                         Title: <input name="titles[]"/><br/>
                        link: <select name="hrefs[]">
                        {{#each files}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select><br/>
                    `;
                    document.getElementById('links').appendChild(c);
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
            </script>
        </label>
        <label>
            Template view
            <select name="view" value="{{internalView}}">
                 <option value="{{internalView}}" hidden="hidden" selected="selected">{{internalView}}</option>
                {{#each views}}
                   <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </label>
         <label>
            File Author
            <input name="_author" value="{{_author}}">
        </label>
        <label>
            File Creation Time
            <input name="_created" value="{{_created}}">
        </label>
        <label>
            File Last Modified Time
            <input name="_modified" value="{{_modified}}">
        </label>
        <button type="submit">Edit File</button>
    {{else}}
        <label>
            File Selection
        
        <select name="file">
            <option value=""></option>
            {{#each this.files}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        </label>

        Or
        <label>

            Create new file
            <input name="newFile">

        </label>

        <button type="submit">Load File</button>
       
    {{/if}}
        
    </form>
    {{> links}}
    
</body>
</html>