<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
    <header>
        <h1>Edit File</h1>
    </header>
    
    <form method="POST" action="/edit">
    {{#if selectedFile}}
        <label>
            Title
            <input name="title" value="{{title}}">
        </label>
        <label>
            Summary
            <textarea name="summary">{{summary}}</textarea>
        </label>
        <label>
            Markdown-Content
            <textarea name="content">{{content}}</textarea>
        </label>

        <label>
            Subcontent
            <ul id="contents">
                {{#each _contents}}<li>
                document: <select name="contents[]">
                     <option value="{{this}}" hidden="hidden" selected="selected">{{this}}</option>
            {{#each ../files}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}

        </select><br/>
            <button onclick="removeContentRow(event)">Remove Entry</button></li>{{/each}}</ul>
            <button onclick="addContentRow(event)">Add Link</button>
            <script>
                function removeContentRow(event) {
                    row = event.srcElement.parentNode;
                    row.parentNode.removeChild(row);
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
                function addContentRow(event) {
                    const c = document.createElement('li');
                    c.innerHTML = `
                        document: <select name="contents[]">
                        {{#each files}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select><br/>
                    `;
                    document.getElementById('contents').appendChild(c);
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
            </script>
        </label>

        <label>
            links
            <ul id="links">
                {{#each _links}}<li>
                Title: <input name="titles[]" value="{{this.title}}"/><br/>
                link: <select name="hrefs[]">
                     <option value="{{this.href}}" hidden="hidden" selected="selected">{{this.href}}</option>
            {{#each ../files}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}

        </select><br/>
            <button onclick="removeRow(event)">Remove Entry</button></li>{{/each}}</ul>
            <button onclick="addRow(event)">Add Link</button>
            <script>
                function removeRow(event) {
                    row = event.srcElement.parentNode;
                    row.parentNode.removeChild(row);
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
                function addRow(event) {
                    const c = document.createElement('li');
                    c.innerHTML = `
                         Title: <input name="titles[]"/><br/>
                        link: <select name="hrefs[]">
                        {{#each files}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select><br/>
                    `;
                    document.getElementById('links').appendChild(c);
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
            </script>
        </label>
        <label>
            Template view
            <select name="view" value="{{internalView}}">
                 <option value="{{internalView}}" hidden="hidden" selected="selected">{{internalView}}</option>
                {{#each views}}
                   <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </label>
         <label>
            File Author
            <input name="_author" value="{{_author}}">
        </label>
        <label>
            File Creation Time
            <input name="_created" value="{{_created}}">
        </label>
        <label>
            File Last Modified Time
            <input name="_modified" value="{{_modified}}">
        </label>
        <button type="submit">Edit File</button>
    {{else}}
        <label>
            File Selection
        
        <select name="file">
            <option value=""></option>
            {{#each this.files}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        </label>

        Or
        <label>

            Create new file
            <input name="newFile">

        </label>

        <button type="submit">Load File</button>
       
    {{/if}}
        
    </form>
    {{> links}}
    
</body>
</html>