 <label for="{{name}}" class="select">
    <button onclick="toggleActionMenu(); return false">Selection Action</button>
     <div id="actionMenu" class="closed">
     <div class="content">
         <ul id="actions">
         </ul>
     </div>
     <script type="text/javascript">
        const dataList = [];
        {{#each options}}
            dataList.push({
                category: '{{this.type}}',
                label: '{{this.label}}',
                action: '{{@key}}',
            });
        {{/each}}
        let actionList = '';
        let lastCategory = '';
        dataList.forEach( predicate => predicate.category = predicate.category == 'matrix_search' ? 'matrix': predicate.category);
        dataList.sort( (a, b) => {
            if (a.category > b.category ) {
                return -1;
            } else if (a.category < b.category) {
                return 1;
            } else {
                return 0;
            }
        }).forEach( action => {
            if ( lastCategory != action.category ) {
                lastCategory = action.category;
                actionList += `<li><h2>${action.category}</h2></li>`;
            }
            actionList += 
            `<li>
                <button onclick="setAction('${action.action}'); return false">${action.label}</button>
             </li>`;
            
        });
        document.getElementById('actions').innerHTML = actionList;
     </script>

    
    <input type="hidden" id="{{name}}" name="{{name}}">
    </div>
</label>

    <script type="text/javascript">

    setAction = function(newAction) {
        form['{{name}}'].value = newAction;
        console.log('{{name}}', form['{{name}}'].value);
        updateStat(newAction);
        updateForm();
        toggleActionMenu();
    }

    toggleActionMenu = function() {
        /**
         * @type HTMLDivElement
         */
        const div = document.getElementById('actionMenu')
        div.classList.toggle('closed');
    }
    
    window.tNoTest = true;
    window.tNote = '';
    window.tThreshold = '()';
    window.tAttackerSkill = '';
    window.tAttackerAbility = '';
    window.tAttackerLimit = '';
    window.tDefenseSkill = '';
    window.tDefenseAbility = '';
    window.tDefenseAbility = '';
    window.tDefenseLimit = '';

        window.updateStat = function(actionName) {
            const selectedAction = actionName;
            console.log(actionName);
            let alimits = [];
            let dlimits = [];
            switch(selectedAction) {
                {{#each options}}
                case '{{@key}}': 
                    window['type'] = '{{this.type}}';
                    {{#ifeq this.typeOfTest 'opposed'}}
                    window['opposedTest'] = true;
                    {{else}}
                    window['opposedTest'] = false;
                    {{/ifeq}}
                    
                    {{#ifeq this.typeOfTest 'none'}}
                    window['tNoTest'] = true;
                    {{else}}
                    window['tNoTest'] = false;
                    {{/ifeq}}
                    window['tAttackerSkill'] = '{{this.testParameter.attackerSkill}}';
                    window['tAttackerAbility'] = '{{this.testParameter.attackerAbility}}';
                    {{#ifeq this.testParameter.hasAttackerLimit 'true'}}
                    alimits = [];
                    {{#each this.testParameter.attackerLimit}}
                        alimits.push('{{this}}');
                    {{else}}
                        alimits.push('{{this.testParameter.attackerLimit}}');
                    {{/each}}
                    window['tAttackerLimit'] = '[' + alimits.join(',') + ']';
                    {{else}}
                    window['tattackerLimit'] = '';
                    {{/ifeq}}
                    window['tDefenseSkill'] = '{{this.testParameter.opposedSkill}}';
                    window['tDefenseAbility'] = '{{this.testParameter.opposedAbility}}';
                    {{#ifeq this.testParameter.hasOpposedLimit 'true'}}
                    dlimits = [];
                    {{#each this.testParameter.opposedLimit}}
                        dlimits.push('{{this}}');
                    {{else}}
                        dlimits.push('{{this.testParameter.opposedLimit}}')
                    {{/each}}
                    window['tDefenseLimit'] = '[' + dlimits.join(',') + ']';
                    {{else}}
                    window['tDefenseLimit'] = '';
                    {{/ifeq}}
                    window['tNote'] = '{{this.testParameter.note}}';
                    if ( '({{this.testParameter.threshold}})' == '()') {
                        window['tThreshold'] = '';
                    } else {
                        window['tThreshold'] = '({{this.testParameter.threshold}})';
                    }
                                 
                break;
                {{/each}}
            }

        }

        Object.defineProperty(window, '{{name}}', {
            get: function() {
                return form['{{name}}'].value;
            },
            set: function(value) {
                form['{{name}}'].value = value;
            }
        });
    </script>