
    <input type="checkbox" name="{{name}}" id="{{name}}" {{#if when}}checked-when="{{when}}"{{/if}} {{#if disabled}}disabled{{/if}}>
    <label class="input" for="{{name}}">
        {{title}}
    </label>
    <script type="text/javascript">
        Object.defineProperty(window, '{{name}}', {
            get: function() {
                return form['{{name}}'].checked;
            },
            set: function(value) {
                form['{{name}}'].checked = value;
            }
        });
    </script>