
    <input type="checkbox" name="{{name}}" id="{{name}}" {{#if when}}checked-when="{{when}}"{{/if}} {{#if disabled}}disabled{{/if}}>
    <label class="input" for="{{name}}">
        {{title}}
    </label>