<input type="number" min="{{min}}" {{#if step}}step="{{step}}"{{/if}} {{#if max}}max="{{max}}"{{/if}} class="innerinput" id="{{name}}" name="{{name}}" value="{{default}}">
<label for="{{name}}" class="input">{{title}}</label>
    <script type="text/javascript">
        Object.defineProperty(window, '{{name}}', {
            get: function() {
                return form['{{name}}'].value;
            },
            set: function(value) {
                form['{{name}}'].value = value;
            }
        });
            console.log('{{name}} property defined');
    </script>
