 <label for="{{name}}" class="select">
    <select id="{{name}}" name="{{name}}" onchange="updateForm(event)">
        {{#each options}}
            <option value="{{@key}}">{{this}}</option>
        {{/each}}
    </select>
</label>
    <script type="text/javascript">
        Object.defineProperty(window, '{{name}}', {
            get: function() {
                return form['{{name}}'].value;
            },
            set: function(value) {
                form['{{name}}'].value = value;
            }
        });
    </script>